In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('adult.data.csv')
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [3]:
data.shape

(32561, 15)

Пропусков в таблице нет:

In [4]:
data = data.dropna()
print(data.shape)

(32561, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

Определим количество мужчин и женщин (sex).
<br>Но заметим, что column 'Male' типа object. Приведем к str.

In [6]:
data['sex']= data['sex'].astype(str)

In [7]:
print('Amount of men:', data['sex'][data['sex'] == 'Male'].count())
print('Amount of women:', data['sex'][data['sex'] == 'Female'].count())

Amount of men: 21790
Amount of women: 10771

Определим средний возраст (age) женщин:

In [8]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [9]:
data['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

Определим долю граждан Германии (native-country):

In [10]:
germany = (int)(data[data['native-country'] == 'Germany']['native-country'].count())
print(type(cuba))

world = (int)(data['native-country'].count())
print(type(world))

NameError: name 'cuba' is not defined

In [ ]:
print('Percentage:', germany / world * 100)

Определим средние значения и среднеквадратичные отклонения возраста тех, <br>кто получает более 50K в год (salary) и тех, кто получает менее 50K в год:

In [11]:
print('Average age of people receiving <= 50k:   ', data[data['salary'] == '<=50K']['age'].mean())
print('Average age of people receiving > 50k:   ', data[data['salary'] == '>50K']['age'].mean())

Average age of people receiving <= 50k:    36.78373786407767
Average age of people receiving > 50k:    44.24984058155847

In [12]:
dev_less_50k = []
dev_gr_50k = []
mean_age_less_50k = data[data['salary'] == '<=50K']['age'].mean()
mean_age_gr_50k = data[data['salary'] == '>50K']['age'].mean()

for obj in data[data['salary'] == '<=50K']['age']:
    dev = obj - mean_age_less_50k
    dev_less_50k.append(dev)

for obj in data[data['salary'] == '>50K']['age']:
    dev = obj - mean_age_gr_50k
    dev_gr_50k.append(dev)

In [13]:
print('Standard deviation of the age of people receiving <= 50k:   ', np.std(dev_less_50k))
print('Standard deviation of the age of people receiving > 50k:   ', np.std(dev_gr_50k))

Standard deviation of the age of people receiving <= 50k:    14.019804910115282
Standard deviation of the age of people receiving > 50k:    10.51835692766163

In [14]:
data[data['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование (education)? 
<br>*Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate*

In [15]:
data[data['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

Выведим статистику возраста для каждой расы (race) и каждого пола (sex):

In [16]:
df = data.groupby('race')
df['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [17]:
df = data.groupby('sex')
df['age'].describe()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

Какое максимальное число часов человек работает в неделю (hours-per-week)? 
<br>Сколько людей работают такое количество часов?
<br>Каков среди них процент зарабатывающих >50k?

In [18]:
data['hours-per-week'].max()

99

In [19]:
data[data['hours-per-week'] == 99]['hours-per-week'].count()

85

In [20]:
data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')]['hours-per-week'].count()

25

In [21]:
print(25 / 85 * 100)

29.411764705882355